/* ------------ */
.breadcrumbs{
	background: transparent !important;
	margin: 0 !important;
}
.breadcrumb{
	padding: 25px 0 !important;
	background-color: transparent !important;
	li{
		padding: 0 !important;
		margin: 0 !important;
		+li{
			&:before{
				content: "/";
			    padding: 0px 4px 0 7px;
				@include fontF($formular, 18px, 400, #A4A4A4);
			}
		}
		a{
			text-decoration: underline;
			@include fontF($formular, 16px, 400, $color-text);
		}
	}
	.active{
		@include fontF($formular, 16px, 400, #A4A4A4);
	}
}

.title{
	padding-bottom: 25px;
}
.page-txt{
	padding-bottom: 150px;
	h1, h2, h3, h4{
		color: $color-black;
	}
	h2{
		padding-top: 10px;
	}
	h3{
		padding-top: 10px;
	}
	p{
		padding: 6px 0 !important;
	}
	strong{
		// color: $color-black;
	}
	ul{
		list-style-position: inside;
		margin-bottom: 15px !important;
		list-style-type: disc;
		li{
			line-height: 1.4;
		}
	}
	ol{
		list-style-position: inside;
	}

	.contact-flex{
		iframe{
			height: 400px;
		}
	}
	.flex-block{
		margin-bottom: 15px;
		p{
		    padding: 0;
    	}
    	label{
			font-size: 18px !important;
		}
	}
}
.page-error{
	padding: 50px 0;
	.msg{
		padding: 0;
	}
}

/* Страница поиска z-search */
.page-search{
	h4{
		padding-top: 30px;
	}
	.form-inline{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin: 30px 0;
	}
	.form-control{
		position: relative;
		top: 0;
		width: 100%;
		background: rgba(255,255,255,0.1);
        border: 1px solid rgba(0,0,0,0.15);
        margin-right: 15px;
        color: $color-black;
	}
	.btn-call{
		padding: 10px 20px;
	}
}

@media (max-width: 1400px){
	
}

@media (max-width: 1270px){
	.page-txt{
		padding-bottom: 100px;
		p{
			font-size: 16px !important;
		}
		table{
			font-size: 14px;
		}
	}
}

@media (max-width: 1000px){
	.page-txt{
		padding-bottom: 50px;
	}
}
@media (max-width: 767px){
	.breadcrumbs{
		/* display: none; */
		margin: 0;
		padding: 0 !important;
	}
	.breadcrumb{
		li{
			a{
				font-size: 14px;
			}
		}
		.active{
			font-size: 14px;
		}
	}
	.page-txt{
		h1{
			font-size: 24px;
		}
		iframe{
			height: 300px;
		}
	}

	/* Страница поиска */
	.page-search{
		h4{
			padding-top: 0;
		}
		.form-inline{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: start;
			    -ms-flex-align: start;
			        align-items: flex-start;
		}
		.form-control{
			margin-bottom: 15px;
		}
	}
}

@media (max-width: 500px){
	/* .page-txt{
		img{
			float: none;
			width: auto;
			height: auto;
		}
	} */
}