/* Кнопки */ 
.btn{
    display: inline-block;
    border: none;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    &:focus, &:active{
        outline: none !important;
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        color: $color-brown;
    }
}

.btn-link-orange{
    position: relative;
    padding: 0;
    border-radius: 0;
    transition: all .3s ease-in-out;
    border-bottom: 2px solid $color-brown;
    transform: translateX(0);
    transition: all 0.3s linear;
    @include fontF($formular, 18px, 400, $color-brown);
   
    &:hover, &:active{
        color: $color-brown;
        transform: translateX(10px);
        transition: all 0.3s linear;
    }
}
.btn-call{
    position: relative;
    padding: 12px 35px;
    border-radius: 0;
    background-color: $color-black;
    transition: all .3s ease-in-out;
    transition: all 0.3s linear;
    @include fontF($formular, 18px, 400, $color-white);
    &:hover, &:active, &:focus{
        color: $color-white !important;
        background-color: #9a7947;
        transition: all 0.3s linear;
    }
}

@media (max-width: 1600px){
	.btn{
		font-size: 16px;
	}
}
@media (max-width: 1400px){
	
}
@media (max-width: 1270px){
	.btn{
		// font-size: 14px;
	}
}
@media (max-width: 767px){
	
}